{% comment %}
  Cute Cards Choice Modal
  Universal modal for product selection (size/variant) and personalization
  Rendered once globally in theme.liquid
{% endcomment %}

<cc-choice-modal id="CCChoiceModal" class="ccc" hidden>
  <div class="ccc__backdrop" data-ccc-backdrop data-ccc-close aria-label="Close"></div>
  <div class="ccc__dialog" data-ccc-dialog role="dialog" aria-modal="true" aria-labelledby="ccc-title" tabindex="-1">
    <button type="button" class="ccc__close" data-ccc-close aria-label="Close">
      {{- 'icon-close.svg' | inline_asset_content -}}
    </button>
    <div class="ccc__body" data-ccc-body data-testid="ccc-body">
      <div class="ccc__loading">
        <svg class="spinner" width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <circle class="spinner__path" fill="none" stroke-width="3" cx="20" cy="20" r="18"></circle>
        </svg>
        <p>Loading...</p>
      </div>
    </div>
  </div>
</cc-choice-modal>
